@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@layer base {
  body {
    @apply dark:bg-neutral-900 
        bg-[#edf6f9];
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

.span {
  @apply text-lime-400;
  @apply font-bold;
}

h2 {
  @apply text-lime-400;
  @apply text-4xl;
  @apply font-bold;
  @apply mb-12;
  @apply text-center;
}

/* config do css do slider */
.slick-dots li button:before {
  font-size: 10px;
  line-height: 30px;
  color: rgb(19, 19, 18) !important;
}
.slick-dots li.slick-active button:before {
  color: rgb(19, 19, 18) !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  color: rgb(19, 19, 18) !important;
}

.borda_texto {
  text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000,
    -1px 0px 0 #000000, 0px -1px 0 #000000;
}
