@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

.span {
  @apply text-lime-400;
  @apply font-bold;
}

h2 {
  @apply text-lime-400;
  @apply text-4xl;
  @apply font-bold;
  @apply mb-12;
  @apply text-center;
}

/* config do css do slider */
.slick-dots li button:before {
  font-size: 10px;
  line-height: 30px;
  color: rgb(19, 19, 18) !important;
}
.slick-dots li.slick-active button:before {
  color: rgb(19, 19, 18) !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  color: rgb(19, 19, 18) !important;
}


/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
